<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>System Error!</title>
    </head>
    <body>
        <p th:text="${message}"></p>
    </body>
</html>