<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="_header :: header(~{::title})">
<title>さんぷる</title>
</head>
<body>
<h1>トップページ</h1>
<p><span sec:authentication="principal.lastName">未登録(姓)</span> <span sec:authentication="principal.firstName">未登録(名)</span></p>
<div sec:authorize="hasRole('admin')">hasRole('admin'). This content is only shown to administrators.</div>
<div sec:authorize="hasRole('ROLE_admin')">hasRole('ROLE_admin'). This content is only shown to administrators.</div>
<div sec:authorize="hasRole('normal')">hasRole('normal'). This content is only shown to users.</div>
<div sec:authorize="hasRole('ROLE_normal')">hasRole('ROLE_normal'). This content is only shown to users.</div>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
<p><a th:href="@{'/customer/update'}">アカウント情報</a></p>
<p><a th:href="@{'/logout'}">ログアウト</a></p>
</body>
</html>
