<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="_header :: header(~{::title})">
<title>さんぷる</title>
</head>

<body>
	<form action="#" th:action="@{./create}" th:object="${__${@createCustomerController.CREATE_CUSTOMER_FORM_NAME}__}" method="post">
		<div class="mb-3">
			<label class="control-label" for="singleLineText">ログインID</label>
			<div th:text="${createCustomerForm.loginId}"></div>
			<input type="hidden" th:field="*{loginId}">
		</div>
		<div class="mb-3">
			<label class="control-label" for="singleLineText">パスワード</label>
			<div>****************</div>
			<input type="hidden" th:field="*{loginPassword}">
		</div>
		<div class="mb-3">
			<label class="control-label" for="singleLineText">メールアドレス</label>
			<div th:text="${createCustomerForm.email}"></div>
			<input type="hidden" th:field="*{email}">
		</div>

		<button class="btn btn-primary btn-lg btn-block" type="submit">submit</button>
	</form>
</body>
</html>
