<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="_header :: header(~{::title})">
<title>さんぷる</title>
</head>

<body>
<p>登録完了しました。</p>
<p><a th:href="@{'/top'}">トップ画面</a></p>

</body>
</html>
