<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="_header :: header(~{::title})">
<title>さんぷる</title>
</head>

<body>
	<form action="#" th:action="@{./update}" th:object="${__${@updateCustomerController.UPDATE_CUSTOMER_FORM_NAME}__}" method="post">

		<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">共通エラーメッセージ表示エリア</p>
		</div>

		<div class="mb-3">
			<label class="control-label" for="singleLineText">ログインID</label> <input
				type="text" class="form-control" th:field="*{loginId}" />
			<div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"
				class="help-block">error</div>
		</div>
		<div class="mb-3">
			<label class="control-label" for="singleLineText">メールアドレス</label> <input
				type="text" class="form-control" th:field="*{email}" />
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
				class="help-block">error</div>
		</div>
		<div class="mb-3">
			<label class="control-label" for="singleSelect">性別</label> <select
				th:field="*{gender}">
				<option value="">-</option>
				<option th:each="value : ${T(sample.model.entity.cnst.GenderEnum).values()}" th:value="${value}"
					th:text="#{__${value.messageCode}__}" th:selected="${value} == *{gender}">pulldown</option>
			</select> <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
				class="help-block">error!</span>
		</div>



		<button class="btn btn-primary btn-lg btn-block" type="submit" name="confirm">confirm</button>
	</form>
</body>
</html>
